h1 {
    font-size: 35px;
    color: blueviolet;
    font-weight: bold;
}
ul > * {
background-color: lavenderblush;
font-weight: bold;
color: rebeccapurple;
}
li {
    font-style: italic;
}
ol > * {
    background-color: blanchedalmond;
    font-weight: 500;
}
p {
    color: lightcoral;
    font-size: 22px;
}
body {
    background-color: lightpink;
}